/* Styles */
body {
	color: white;
	background-color: #6668;
	text-align: center;
    font-family: Futura;

}
h1 {
    border-width: 1px;
    border-style: hidden;
    border-color: black;
    font-size: 12pt; 
}

p{
    font-size: 15pt; 
}

